workflows/YEqafi8EvUikAYrB.json
{
  "active": true,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "ComfyUI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Instrumental",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "ComfyUI": {
      "main": [
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Check the Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create A Song": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check the Status": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Download the Song",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download the Song": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Title": {
      "main": [
        [
          {
            "node": "Genre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Genre",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Genre": {
      "main": [
        [
          {
            "node": "Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Instrumental",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Instrumental": {
      "main": [
        [
          {
            "node": "Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Prompt": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create A Song",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Title",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-27T01:06:24.545Z",
  "id": "YEqafi8EvUikAYrB",
  "isArchived": false,
  "meta": null,
  "name": "n8n Finished Project",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1648,
        368
      ],
      "id": "dd81b6ad-fa5c-439a-a7e4-16b7c17c8bab",
      "name": "When chat message received",
      "webhookId": "5221bc36-6642-4477-ba0f-9aa72c8678b2"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "## Role\nThe agent is a Description Generator. Its purpose is to take user inputs (objects, ideas, scenarios, or people) and produce concise, detailed plain-text descriptions. The descriptions should be engaging, informative, and limited to a maximum of five sentences.\n\n## Instructions\n- Accept any user input as the subject of description.\n- Write in plain text only, without formatting symbols, line breaks, or special characters like \\n.\n- Keep the description between 3–5 sentences.\n- Focus on clarity, detail, and vividness while remaining concise.\n- Avoid repetition or filler words.\n\n## Example\nUser Input: \"A red bicycle\"\nAgent Output: The red bicycle gleams with a glossy finish that catches the sunlight. Its frame is sturdy yet lightweight, designed for both speed and comfort. Black tires with deep treads promise smooth rides across city streets or rugged paths. The handlebars curve slightly, offering a balanced grip for long journeys. A small silver bell adds a cheerful touch to its practical design.\n\nWould you like me to also create a template prompt you can reuse to instruct the agent each time, so you don’t have to repeat the rules?\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1440,
        368
      ],
      "id": "69d799fe-d84a-4f95-a454-db65537ffd1e",
      "name": "AI Agent",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1424,
        576
      ],
      "id": "b3fecf45-5d09-4d2d-a006-08db42a85a75",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1568,
        576
      ],
      "id": "ef1cc45e-38b4-4362-bd1b-3fc2d94e3236",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "okZs601VKecnhRpI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "workflow": "={\n  \"5\": {\n    \"inputs\": {\n      \"width\": 512,\n      \"height\": 512,\n      \"batch_size\": 1\n    },\n    \"class_type\": \"EmptyLatentImage\",\n    \"_meta\": {\n      \"title\": \"Empty Latent Image\"\n    }\n  },\n  \"6\": {\n    \"inputs\": {\n      \"text\": \" {{ $json.output }} \",\n      \"clip\": [\n        \"20\",\n        1\n      ]\n    },\n    \"class_type\": \"CLIPTextEncode\",\n    \"_meta\": {\n      \"title\": \"CLIP Text Encode (Prompt)\"\n    }\n  },\n  \"7\": {\n    \"inputs\": {\n      \"text\": \"text, watermark\",\n      \"clip\": [\n        \"20\",\n        1\n      ]\n    },\n    \"class_type\": \"CLIPTextEncode\",\n    \"_meta\": {\n      \"title\": \"CLIP Text Encode (Prompt)\"\n    }\n  },\n  \"8\": {\n    \"inputs\": {\n      \"samples\": [\n        \"29\",\n        0\n      ],\n      \"vae\": [\n        \"20\",\n        2\n      ]\n    },\n    \"class_type\": \"VAEDecode\",\n    \"_meta\": {\n      \"title\": \"VAE Decode\"\n    }\n  },\n  \"13\": {\n    \"inputs\": {\n      \"add_noise\": true,\n      \"noise_seed\": 334760907172262,\n      \"cfg\": 1,\n      \"model\": [\n        \"20\",\n        0\n      ],\n      \"positive\": [\n        \"6\",\n        0\n      ],\n      \"negative\": [\n        \"7\",\n        0\n      ],\n      \"sampler\": [\n        \"14\",\n        0\n      ],\n      \"sigmas\": [\n        \"22\",\n        0\n      ],\n      \"latent_image\": [\n        \"5\",\n        0\n      ]\n    },\n    \"class_type\": \"SamplerCustom\",\n    \"_meta\": {\n      \"title\": \"SamplerCustom\"\n    }\n  },\n  \"14\": {\n    \"inputs\": {\n      \"sampler_name\": \"euler_ancestral\"\n    },\n    \"class_type\": \"KSamplerSelect\",\n    \"_meta\": {\n      \"title\": \"KSamplerSelect\"\n    }\n  },\n  \"20\": {\n    \"inputs\": {\n      \"ckpt_name\": \"sd_xl_turbo_1.0_fp16.safetensors\"\n    },\n    \"class_type\": \"CheckpointLoaderSimple\",\n    \"_meta\": {\n      \"title\": \"Load Checkpoint\"\n    }\n  },\n  \"22\": {\n    \"inputs\": {\n      \"steps\": 3,\n      \"denoise\": 1,\n      \"model\": [\n        \"20\",\n        0\n      ]\n    },\n    \"class_type\": \"SDTurboScheduler\",\n    \"_meta\": {\n      \"title\": \"SDTurboScheduler\"\n    }\n  },\n  \"27\": {\n    \"inputs\": {\n      \"filename_prefix\": \"ComfyUI\",\n      \"images\": [\n        \"8\",\n        0\n      ]\n    },\n    \"class_type\": \"SaveImage\",\n    \"_meta\": {\n      \"title\": \"Save Image\"\n    }\n  },\n  \"29\": {\n    \"inputs\": {\n      \"seed\": 263767148874217,\n      \"steps\": 20,\n      \"cfg\": 8,\n      \"sampler_name\": \"euler\",\n      \"scheduler\": \"beta\",\n      \"denoise\": 1,\n      \"model\": [\n        \"20\",\n        0\n      ],\n      \"positive\": [\n        \"6\",\n        0\n      ],\n      \"negative\": [\n        \"7\",\n        0\n      ],\n      \"latent_image\": [\n        \"13\",\n        0\n      ]\n    },\n    \"class_type\": \"KSampler\",\n    \"_meta\": {\n      \"title\": \"KSampler\"\n    }\n  }\n}",
        "timeout": 5
      },
      "type": "n8n-nodes-comfyui.comfyui",
      "typeVersion": 1,
      "position": [
        -1088,
        368
      ],
      "id": "a3443817-bdfe-4ee8-b247-7b661bf20de4",
      "name": "ComfyUI",
      "credentials": {
        "comfyUIApi": {
          "id": "x7wtg7nHvix1Hvgm",
          "name": "ComfyUI account"
        }
      }
    },
    {
      "parameters": {
        "name": "My New File",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1E47r72iPoH7dr6vF0g9wlCpr_A_0PhmH",
          "mode": "list",
          "cachedResultName": "Suno Songs",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1E47r72iPoH7dr6vF0g9wlCpr_A_0PhmH"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -672,
        368
      ],
      "id": "f7ccbd0a-d3d6-4d18-aec6-9d7354f89e9f",
      "name": "Upload file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "P44rKTJbgNvCuX9g",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "name": "New Song",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1E47r72iPoH7dr6vF0g9wlCpr_A_0PhmH",
          "mode": "list",
          "cachedResultName": "Suno Songs",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1E47r72iPoH7dr6vF0g9wlCpr_A_0PhmH"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1504,
        -560
      ],
      "id": "d68da6aa-7097-43d9-a5c7-5aa7c3a6b01e",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "P44rKTJbgNvCuX9g",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        304,
        -544
      ],
      "id": "530e4744-45ae-4704-a101-28ec800361ba",
      "name": "Wait",
      "webhookId": "7ed210ee-8611-41db-9857-dd55945af9b7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer a92ceae8fa140a285bad4a786f2ccbed"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.Prompt }}"
            },
            {
              "name": "style",
              "value": "={{ $json.Genre }}"
            },
            {
              "name": "title",
              "value": "={{ $json.Title }}"
            },
            {
              "name": "customMode",
              "value": "true"
            },
            {
              "name": "instrumental",
              "value": "={{ $json.Instrumental }}"
            },
            {
              "name": "model",
              "value": "V3_5"
            },
            {
              "name": "callBackUrl",
              "value": "https://api.example.com/callback"
            },
            {
              "name": "negativeTags"
            },
            {
              "name": "vocalGender",
              "value": "m"
            },
            {
              "name": "styleWeight",
              "value": "0.65"
            },
            {
              "name": "weirdnessConstraint",
              "value": "0.65"
            },
            {
              "name": "audioWeight",
              "value": "0.65"
            },
            {
              "name": "personaId",
              "value": "persona_123"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        32,
        -544
      ],
      "id": "004c256b-3540-43dc-9d1f-328c08386fb4",
      "name": "Create A Song"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/generate/record-info",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer a92ceae8fa140a285bad4a786f2ccbed"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        528,
        -544
      ],
      "id": "6fcba1a1-87d8-47e6-a0b5-d187a5b89c71",
      "name": "Check the Status"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "SUCCESS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9cb49e35-5253-419d-944f-3cedd8600a2e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "25d56eb3-e5a4-4807-aa5c-711b972182b8",
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "PENDING",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "116274cb-ff31-45b0-b64c-8931eee4feae",
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "TEXT_SUCCESS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1de65978-8839-4823-82c9-eda8918885d1",
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "FIRST_SUCCESS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        736,
        -544
      ],
      "id": "2177df55-0509-4daa-8fb1-27a6550401b1",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "={{ $json.data.response.sunoData[0].sourceAudioUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1296,
        -560
      ],
      "id": "3a647d6e-fe15-4028-9cac-711a2a21278a",
      "name": "Download the Song"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "You are an AI agent acting as a music creator. \nTask:\n1. Read the user input as if it were a description of a song idea. \n2. Imagine what a suitable, creative song title would be. \n3. Output only the title in plain text. \n4. Do not include JSON, markdown, explanations, or any extra formatting. \n\nExample:\nInput: \"A story about a knight who saves a village from a dragon.\"\nOutput: {\"title\":\"Knight Saves Village from Dragon\"}\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -672,
        -736
      ],
      "id": "a7917564-8044-411d-8056-e716850c8fb1",
      "name": "Title",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -672,
        -192
      ],
      "id": "dfe15892-f971-4a5e-b3fd-3522a9418c31",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "okZs601VKecnhRpI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "You are an AI agent acting as a music creator. \nTask:\n1. Read the user input as if it were a description of a song idea. \n2. Determine the most suitable musical genre (e.g., rock, pop, jazz, synthwave, classical). \n3. Output only the genre in plain text. \n4. Do not include JSON, markdown, explanations, or any extra formatting. \n5.The output MUST be 500 characters or less."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -672,
        -384
      ],
      "id": "7587d45e-53a9-4644-8651-92004369afca",
      "name": "Genre",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -672,
        -896
      ],
      "id": "21aedcd5-54b1-4611-91bc-a4b0c1a5111b",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "okZs601VKecnhRpI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "You are an AI agent acting as a music creator. \nTask:\n1. Read the user input as a description of a song idea. \n2. Determine if the music would be instrumental only (no vocals). \n3. Output only \"true\" if instrumental, or \"false\" if not. \n4. Do not include JSON, markdown, explanations, or any extra formatting. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -672,
        -1088
      ],
      "id": "f043dcfb-a2b0-4eb2-9c89-f200b7dff3b6",
      "name": "Instrumental",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -672,
        160
      ],
      "id": "3bf0b09b-066d-4792-83b0-1e61c4bd133d",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "okZs601VKecnhRpI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "You are an AI agent acting as a music composer. \nTask:\n1. Read the user input as a description of a song idea. \n2. Transform it into a concise composer’s prompt that captures mood, style, and instrumentation. \n3. Output only the composer’s prompt in plain text. \n4. Do not include JSON, markdown, or extra explanation. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -672,
        -32
      ],
      "id": "5b48dc9b-c64e-4058-8d7b-41d606f1dcc8",
      "name": "Prompt",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8519f6ad-d368-46bf-8ede-aca2ee48b326",
              "name": "Instrumental",
              "value": "={{ $node[\"Instrumental\"].json.output }}",
              "type": "string"
            },
            {
              "id": "9ef30ecb-54a0-4c65-b971-084c5a555207",
              "name": "Title",
              "value": "={{ $node[\"Title\"].json.output }}",
              "type": "string"
            },
            {
              "id": "6f826544-83ae-4549-8708-8fd09faca471",
              "name": "Genre",
              "value": "={{ $node[\"Genre\"].json.output }}",
              "type": "string"
            },
            {
              "id": "748703ad-f462-4817-b36f-08cfa3bac032",
              "name": "Prompt",
              "value": "={{ $node[\"Prompt\"].json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -208,
        -544
      ],
      "id": "9c4b336d-c2f3-4aab-8d0e-2a346e95d4c8",
      "name": "Edit Fields",
      "retryOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -672,
        -544
      ],
      "id": "aa7fb532-a4b0-4b66-b7c1-52447c7fbef8",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "okZs601VKecnhRpI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        656,
        48
      ],
      "id": "504b6c91-014c-4002-9274-3e4b8e6589b6",
      "name": "Send a message",
      "webhookId": "a7dcc56f-2838-4a29-9edc-5d56d9e31185"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-27T01:06:24.547Z",
      "createdAt": "2025-11-27T01:06:24.547Z",
      "role": "workflow:owner",
      "workflowId": "YEqafi8EvUikAYrB",
      "projectId": "IFQa0QO9npFMEMmz"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-27T04:50:25.000Z",
  "versionId": "b1ee6e62-4f64-4f72-83e1-c842fa39b12f"
}